{{ define "main" }}
<article class="single-page">
    <div class="container">
        <header>
            <h1>{{ .Title }}</h1>
            {{ if .Date }}
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time>
            {{ end }}
            {{ if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                <span class="tag">{{ . }}</span>
                {{ end }}
            </div>
            {{ end }}
        </header>
        
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}